.details-page-header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
form input, form select {
    margin-bottom: 20px;
}