<h2 class="page-header display-5">Question List</h2>
<button class="btn btn-primary btn-add-question" routerLink="/admin/main/questions/create">Add new question</button>
<div *ngFor ='let question of questions' class="card bg-light question-card d-flex">
    <div class="question-info">
        <h4>
            {{question.question_content}}
        </h4>
        <span class="" style="color:blue;">
            {{question.id}}
        </span>
    </div>
    <div class="question-action">
        <button class="btn btn-warning" [routerLink]="['/admin/main/questions/edit', question.id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteQuestion(question)">Delete</button>
    </div>
</div>