<h2 class="page-header display-5">Survey List</h2>
<button class="btn btn-primary btn-add-survey" routerLink="/admin/main/surveys/create">Add new survey</button>
<div *ngFor ='let survey of surveys' class="card bg-light survey-card d-flex">
    <div class="survey-info">
        <h4>
            {{survey.name}}
        </h4>
        <span class="" style="color:blue;">
            {{survey.description}}
        </span>
    </div>
    <div class="survey-action">
        <button class="btn btn-primary" [routerLink]="['/admin/main/surveys/getResult', survey.id]"><i class="fa-solid fa-square-poll-vertical"></i>&nbsp;View Result</button>
        <button class="btn btn-warning" [routerLink]="['/admin/main/surveys/edit', survey.id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteSurvey(survey)">Delete</button>
    </div>
</div>