<div class="bg-primary p-2 text-white details-page-header" [class.bg-warning]="editing"
     [class.text-dark]="editing">
    <h5 class="display-5">{{editing  ? "Edit" : "Create"}} Survey</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label>Survey Title</label>
        <input class="form-control" name="name" [(ngModel)]="survey.name" />
    </div>
    <div class="form-group">
        <label>Survey Description</label>
        <textarea class="form-control" name="description"
                  [(ngModel)]="survey.description">
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary m-1" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/surveys">
        Cancel
    </button>
</form>
