<form class="form" action="" method="POST">
    <div class="form-group">
        <label for="nameTextField">Survey Title</label>
        <input type="text" class="form-control" id="nameTextField" name="name" placeholder="Enter the Survey Title" required>
    </div>
    <div class="form-group">
        <label for="descriptionTextField">Description</label>
        <textarea class="form-control" id="descriptionTextField" name="description" placeholder="Enter the brief of Survey Description" required></textarea>
    </div>

    <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i>&nbsp;Submit</button>
    <a href="/surveys" class="btn btn-warning"><i class="fas fa-undo"></i>&nbsp;Cancel</a>
</form>
